* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.componente {
  background-color: rgb(30, 30, 30);
  margin: 10px;
  padding: 20px;
  flex-flow: column;
}

p {
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.mariana {
  width: 200px;
  height: 200px;
  background-color: blue;
}
